#viewer {
    background-color: black;
    height: 100%;
    width: 100%;
  }
  
  .loadingTextDiv {
    color: var(--text-secondary-color);
    font-size: 30px;
  }
  
  .FlexboxLayout {
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    align-items: stretch;
    height: calc(100% - var(--toolbar-height) - var(--top-bar-height));
    width: 100%;
    overflow: hidden;
  }
  
  .main-content {
    flex: 1;
    height: 100%;
    overflow: hidden;
    transition: var(--sidepanel-transition);
    width: 100%;
  }
  
  @media only screen and (max-width: 768px) {
    /* Account for "Investigational Use" banner height */
    .FlexboxLayout {
      height: calc(100% - var(--toolbar-height) - var(--top-bar-height) - 16px);
    }
  }
  